<form action="" method="post" class="form form--login">

	<div class="field-wrap field-wrap--underlined">
		<label for="login__username"><span class="hidden">Username</span></label>
		<input type="text" name="login__username" id="login__username" placeholder="Username" required>
	</div>

	<div class="form__field-wrap field-wrap--underlined">
		<label for="login__password"><span class="hidden">Password</span></label>
		<input type="password" name="login__password" id="login__password" placeholder="Password" required>
	</div>

	<input class="btn btn--rounded btn--full btn--ghost" type="submit" value="Sign In">

</form>