@mixin flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin width($count, $margin) {
 
	width: (1 / $count * 100%) - $margin + ($margin / $count);
	margin-right: $margin;
 
	// This is an IE8 Fix, I know it's stupid, don't tell me.
	
	&.last {
 
	 	margin-right: 0;
 
	 }
	
	&:nth-of-type(#{($count)+"n+0"}), {
		
		margin-right: 0;
		
	}
 
}

@mixin mq($value, $axis: false) {

	@if $axis {

		@media screen and ("max-"+$axis: $value) {

			@content;

		}

	} @else {

		@media screen and (max-width: $value) {

			@content;

		}
		
	}

}

// px to rem for font-sizes and line-height
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.25){
	font-size: ($sizeValue * 1) + px;
	line-height: ($line * 1) + px;
	font-size: ($sizeValue / 10) + rem;
	line-height: ($line / 10) + rem;
}
// usage: @include font-size(13);