/*--------------------------------------------------------------
Site Name: Floppy
Author: The Marketeers

VARIABLES
--------------------------------------------------------------*/

$mq-mob: 480px!default;
$mq-mob--sml: 320px!default;
$mq-mob--lrg: 640px!default;


$mq-tab: 768px!default;
$mq-tab--sml: 765px!default;
$mq-tab--lrg: 820px!default;


$mq-desk: 1024px!default;
$mq-desk--sml: 960px!default;
$mq-desk--lrg: 1280px!default;

// Colour palette
$error: 			#f54d4d; // l-red

$black:				#000; 	 // black
$white:				#fff; 	 // white
$primaryColor:		#2e373e; // grey
$secondaryColor:	#12232b; // d-grey
$tertiaryColor:		#82ABB3; //#82ABB3; // l-blue
$quaternaryColor:	#8bf394; // l-green