/*--------------------------------------------------------------
Site Name: Floppy
Author: The Marketeers

VARIABLES
--------------------------------------------------------------*/

$mq-mob: 480px!default;
$mq-mob--sml: 320px!default;
$mq-mob--lrg: 640px!default;


$mq-tab: 768px!default;
$mq-tab--sml: 765px!default;
$mq-tab--lrg: 820px!default;


$mq-desk: 1024px!default;
$mq-desk--sml: 960px!default;
$mq-desk--lrg: 1280px!default;

// Colour palette
$black:		#000;
$white:		#fff;

// Prototype

$error:					#f54d4d; // l-red

// Prototype 1
$p1PrimaryColor:		#2e373e; // grey
$p1SecondaryColor:		#12232b; // d-grey
$p1TertiaryColor:		#7bb5cc; //#82ABB3; // l-blue
$p1QuaternaryColor:		#8bf394; // l-green
