<!doctype html>
<html>
	<head>
		<link rel="dns-prefetch" href="http://<?- site.url ?>/">
		<link rel="dns-prefetch" href="//scontent.cdninstagram.com/">
	    <link rel="dns-prefetch" href="//ajax.googleapis.com/">
	    <link rel="dns-prefetch" href="//google-analytics.com/">
	    <link rel="preload" href="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">

		<title><?- site.name ?> - <?- view.title ?></title>
		<meta name="description" content="<?- view.desc ?>">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <? if(cookies.get('css')) { ?>
            <link rel="stylesheet" href="/assets/css/main.<? if(env !== 'development') {?><?= lastModified('assets/css/main.css')?>.<? } ?>css" type="text/css">    
        <? } else { ?> 
        <style><?- include ../../assets/css/critical.css ?></style>
        <? } ?>
		<script>			
            <? include ../../assets/js/vendor/modernizr.custom.js ?><? if(!cookies.get('css')) { ?>Modernizr.load('/assets/css/main.<? if(env !== 'development') {?><?= lastModified("assets/css/main.css")?>.<? } ?>css');<? } ?>Modernizr.load([{load: '//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'},{load: '/assets/js/main.min.<? if(env !== 'development') {?><?= lastModified("assets/js/main.min.js") ?>.<? } ?>js',complete: function(){window.init()}}]);
		</script>
	</head>
	<body id="<?- page ?>">		
        
        <?- body ?>
        
	</body>
	<? if(!cookies.get('css')) {	
        cookies.set('css', 'true');
    } ?>
</html>