<!doctype html>
<html>
	<head>
		<link rel="dns-prefetch" href="http://<%- site.url %>/">
		<link rel="dns-prefetch" href="//scontent.cdninstagram.com/">
	    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	    <link rel="dns-prefetch" href="//google-analytics.com/">

		<title><%- site.name %> - <%- view.title %></title>
		<meta name="description" content="<%- view.desc %>">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <style>
            body {
                
                display: none;
                
            }
        </style>
        
		<script>			
            <%- File.getContents(`${__docs}/assets/js/vendor/modernizr.custom.js`) %>
            Modernizr.load([{load:'/assets/css/main.<% if(env !== 'development') {%><%= File.getTime(`${__docs}/assets/css/main.css`)%>.<% } %>css'},{load: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'},{load: '/assets/js/main.min.<% if(env !== 'development') {%><%= File.getTime(`${__docs}/assets/js/main.min.js`) %>.<% } %>js',complete: function(){window.init()}}]);
		</script>
	</head>
	<body id="<%- page %>">
       <div class="page-wrap">
            <header class="template__header">
                <a href="/" title="floe">
                   <%- File.getContents(`${__docs}/assets/svg/floe.svg`) %>
                </a>
            </header>
            <div class="centre-wrap">
                <%- body %>
            </div>
            <footer class="template__footer">
               <div class="centre-wrap">
                   <p><svg class="footer__logo"><use xlink:href="#flogo"></use></svg> v0.01a</p>
               </div>
            </footer>
       </div>       
	</body>
</html>