<section class="cta">
    <a href="/this-should-go-somewhere" class="square-cta square-cta--1 js-bg" data-img="/assets/img/cta/1.jpg">
        <div class="overlay">
            <p>Book a Table</p>
            <? include ../../assets/svg/arrows.svg ?>
            <span>click here</span>          
        </div>
    </a>
    <a href="/this-should-go-somewhere" class="square-cta square-cta--2 js-bg" data-img="/assets/img/cta/2.jpg">
        <div class="overlay">
            <p>Grab a Hotdog</p>
            <? include ../../assets/svg/arrows.svg ?>
            <span>click here</span>           
        </div>
    </a>
    <a href="/this-should-go-somewhere" class="square-cta square-cta--3 js-bg" data-img="/assets/img/cta/3.jpg">
        <div class="overlay">
            <p>Drink some wine ;)</p>
            <? include ../../assets/svg/arrows.svg ?>
            <span>click here</span>            
        </div>
    </a>
    <a href="/this-should-go-somewhere" class="square-cta square-cta--4 js-bg" data-img="/assets/img/cta/4.jpg">
        <div class="overlay">
            <p>You lost the game...</p>
            <? include ../../assets/svg/arrows.svg ?>
            <span>click here</span>           
        </div>
    </a>
</section>