<h1>Instagram Feed</h1>

<% if(instagram) { %>

    <% if(instagram.data) { %>

        <% for(var data in instagram.data) { %>

            <% if(instagram.data[data]) { %>

                <img class="instagram" src="<%= instagram.data[data].images.standard_resolution.url %>" alt="<%= instagram.data[data].caption.text %>" height="<%= instagram.data[data].images.standard_resolution.height%>" width="<%= instagram.data[data].images.standard_resolution.width%>">

            <% } %>

        <% } %>

    <% } else if(instagram.meta.error_message) { %>

        <p>Error: <%= instagram.meta.code %> - <%= instagram.meta.error_message %></p>

    <% } else { %>

        <p>Intagram appears to be down at the moment, check back later!</p>

    <% } %>


<% } else { %>
    
    <p>Instagram has not been setup in your config.</p>

<% } %>