<div class="content">

	<div class="mailer">

		<h1 class="mailer__heading">
			Mailer preview
		</h1>
		
		<div class="mailer__preview">
			blaaaaaaa
		</div>

	</div>

</div>

<aside class="aside">

	<div class="mailer">

		<div class="mailer__details">

			<h1 class="mailer__name">
				1st Campaign
			</h1>
			
		</div>

		<div class="modules">

			<h2 class="modules__heading">
				Modules
			</h2>

			<div class="module module--text">Text</div>
			<div class="module module--text">Text</div>
			<div class="module module--text">Text</div>
			<div class="module module--text">Text</div>
			
		</div>
		
	</div>

</aside>