<div class="prototype prototype--1">

	<div class="content">

		<div class="row row--flex">
			<div class="column small-6">
				<div class="block">
					Block half tall<br />
					Block half tall<br />
					Block half tall<br />
					Block half tall<br />
					Block half tall
				</div>
			</div>

			<div class="column small-6">
				<div class="block">
					Block half
				</div>
			</div>
		</div>

		<div class="row row--flex">
			<div class="column small-6">
				
				<div class="row">
					<div class="column small-12">
						<div class="block">
							Block 1
						</div>
					</div>
				</div>

				<div class="row">
					<div class="column small-12">
						<div class="block">
							Block 2
						</div>
					</div>
				</div>

				<div class="row">
					<div class="column small-12">
						<div class="block">
							Block 3
						</div>
					</div>
				</div>

			</div>

			<div class="column small-6">
				<div class="block">
					Half
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column small-12">
				<div class="block">
					Block big
				</div>
			</div>
		</div>

	</div>

</div>