<h1>Twitter Feed</h1>

<% if(twitter) { %>

   <% if(!twitter.errors) { %>
   
        <% for(var tweet in twitter) { %>    

            <% if(twitter[tweet]) { %>

                <p><%- twitter[tweet].text %></p>

            <% } %>

        <% } %>
    
    <% } else {%>
    
        <% for(var error in twitter.errors) { %>
        
            <p>Error: <%- twitter.errors[error].code %> - <%- twitter.errors[error].message %></p>
        
        <% } %>    
    
    <% } %>

<% } else { %>

    <p>Twitter has not been setup in your config.</p>

<% } %>