$primaryColor: #353C40;
$secondaryColor: #D4F0FF;
$tertiaryColor: #AAC0CC;

html {
    
    background: #fff;
    
}

body {
    
    font-family: 'Lato', sans-serif;
    color: $primaryColor;
    padding-bottom: 42px;
    
}

.secondary {
    
    fill: $secondaryColor;
    
}

.centre-wrap {
    
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1280px;
    
}

.template {
    
    &__header {
        
        background: $primaryColor;
        padding: 20px 0;
        margin-bottom: 15px;
        
    }
    
    &__logo {
        
        width: 200px;
        margin: 0 auto;
        display: block;
        
    }
    
    &__footer {
        
        background: $primaryColor;
        @include font-size(12);
        color: $secondaryColor;
        position: fixed;
        padding: 10px 0;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
        
        p {
            
            margin: 0;
            
        }
        
        span {
            
            color: white;
            margin-left: 5px;
            
        }
        
    }
    
}

h1 {
    
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid $secondaryColor;
    
}

h2, h3 {
    
    margin-bottom: 10px;
    
}

a {
    
    color: $tertiaryColor;
    font-weight: bold;
    
}

ul, ol {
    
    padding: 0 0 0 40px;
    margin-bottom: 20px;
    
    
}

li, p {
    
    margin-bottom: 5px;
    @include font-size(14);
    
}

span {

    color: $tertiaryColor;
    font-weight: bold;

}

p {
    
    margin-bottom: 20px;
    
}

.koa {
    
    font-family: 'Italiana', sans-serif;
    font-size: 150%;
    color: white;
    margin-left: 5px;
    text-decoration: none;
    
}