.modal {
	&__panel {
		position: absolute;
		left: 104%;
		top: -22px;
		text-align: right;
		opacity: 0;
		transition: opacity 0.312s ease;

		&:hover {
			opacity: 1;
		}


		&--close, &--options {
			margin: 0 0 2px 2px;
			display: block;
			float: right;
			clear: right;
		}
	}

	&__settings {
		background: $white;
		padding: 10px;
		position: absolute;
		top: -22px;
		left: 112%;
		width: 200px;
		right: auto;

		label {
			text-align: left;
			margin: 0 0 10px;
			width: 40%;
			display: inline-block;

		}

		input {
			width: 60%;
			background: none;
			border: none;
			outline: none;
			border-bottom: 1px solid $black;
		}
	}
}