.btn {
	height: 40px;
	margin: 20px 1px;
	padding: 0 15px;

	cursor: pointer;
	appearance: none;
	background-color: $white;
	outline: 0;
	border: 0;
	color: $primaryColor;

	@include font-size(14, 24);
	text-transform: uppercase;

	transition:
		color 0.25s ease-in-out,
		background-color 0.15s ease-in-out;
	
	&:hover{
		background-color: $tertiaryColor;
		color: $white;
	}

	&--rounded {
		border-radius: 20px;
	}

	&--lrg {

	}

	&--full {
		width: 100%;
	}

	&--ghost {
		background: transparent;
		border: 2px solid $primaryColor;
		color: $primaryColor;

		&:hover {
			background: $primaryColor;
		}
	}

	&--mailer {
		background: $tertiaryColor;
		color: $white;
		border: 1px solid $white;
		width: 100%;
	}

	&--static {
		width: 40px;
	}
}