// important to define 62.5% for [rem] font conversion
html {
    font-size:62.5%;
    line-height: 62.5%;
}

body {
	padding: 0;

	background: #e6f1ef;;
	@include font-size(16,20);
}

.page-wrap {

}

.header {
	width: 100%;
	height: 40px;

	background: $white;
	border-bottom: 1px solid #ccc;
	text-align: right;

	.quicklinks {
		float: right;
		height: 100%;

		.quicklink {
			display: inline-block;
			height: 100%;
			padding: 0 5px;

			@include font-size(16,40);
			vertical-align: middle;

			.icon {
				position: relative;
				// @include font-size(14,40);
			}

			&--settings {

			}

			&--mails {

			}

			&--alerts {

			}

			&--account {

			}

			&--profile {
			    display: inline-block;
			    height: 30px;
			    width: 30px;
			    margin-right: 5px;

			    background: $primaryColor;
			    border-radius: 50%;
			    text-align: center;
			    @include font-size(14,30);

				img {
					
				}
			}

			&--help {
				// padding: 0 20px;
				padding: 0 30px 0 20px;

				// background: $quaternaryColor;
				background: $tertiaryColor;
				color: $white;

				.icon {
					color: $white;
				}
			}

			&.is-unread {

				.icon {

					&:after {
						content: '';
						position: absolute;
					    top: -5px;
					    right: -5px;
					    width: 12px;
					    height: 12px;
					    box-sizing: border-box;

					    background: $error;
					    border: 2px solid $white;
					    border-radius: 50%;
					}
				}
			}
		}
	}
}

.main {
	position: relative;
}

.container {
	padding: 0 0 0 200px;
	max-width: 1280px;
}

.footer {

}