@font-face {
  font-family: "icons";
  src: url("../fonts/prop-build.eot");
  src: url("../fonts/prop-build.eot?#iefix") format("embedded-opentype"), url("../fonts/prop-build.woff") format("woff"), url("../fonts/prop-build.ttf") format("truetype"), url("../fonts/prop-build.svg#prop-build") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "calluna";
  font-style: italic;
  font-size: 100%;
  background: #000000; }

a {
  text-decoration: none; }

h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-style: normal;
  font-size: 40px;
  font-size: 2.5em;
  line-height: 40px;
  margin-bottom: 30px; }

.centre-wrap {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px; }

.top {
  background: url(../img/top-bg.jpg) top center no-repeat;
  width: 100%;
  padding-top: 155px;
  padding-bottom: 290px;
  text-align: center; }

.middle {
  width: 100%;
  clear: both;
  max-height: 675px; }

.logo {
  margin: 0 auto 65px auto;
  display: inline-block; }

nav {
  width: 100%;
  float: left;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding: 20px 0;
  margin-bottom: 55px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-size: 1.125em;
  text-align: justify; }
  nav li {
    display: inline-block; }
  nav a {
    color: #FFFFFF;
    text-transform: uppercase; }
  nav ul {
    max-height: 22px;
    padding: 0 60px; }
    nav ul:after {
      content: '';
      width: 100%;
      display: inline-block;
      line-height: 0px; }

.social {
  text-align: center;
  width: 100%;
  clear: both; }
  .social__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin: 0 10px;
    font-family: "icons";
    color: #FFFFFF;
    font-style: normal;
    font-size: 20px;
    font-size: 1.25em;
    line-height: 36px; }

.main {
  width: 100%;
  background: #FFFFFF;
  padding: 75px 315px 70px 315px;
  color: #000000;
  margin-top: -175px;
  text-align: center; }
  .main p {
    font-size: 18px;
    font-size: 1.125em;
    line-height: 25px; }

.slider {
  width: 100%;
  overflow: hidden;
  position: relative; }

.pager {
  width: 100%;
  bottom: 30px;
  text-align: center;
  position: absolute;
  z-index: 2; }
  .pager a {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #FFFFFF;
    margin: 0 5px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
    .pager a.active {
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }

.cta {
  width: 100%;
  clear: both;
  overflow: hidden; }

.square-cta {
  width: 25%;
  margin-right: 0%;
  float: left;
  position: relative; }
  .square-cta.last {
    margin-right: 0; }
  .square-cta:nth-of-type(4n+0) {
    margin-right: 0; }
  .square-cta span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.7); }
  .square-cta:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .square-cta:hover span {
    display: block; }
  .square-cta--1 {
    background: url(../img/cta/1.jpg) center no-repeat;
    background-size: 100%; }
  .square-cta--2 {
    background: url(../img/cta/2.jpg) center no-repeat;
    background-size: 100%; }
  .square-cta--3 {
    background: url(../img/cta/3.jpg) center no-repeat;
    background-size: 100%; }
  .square-cta--4 {
    background: url(../img/cta/4.jpg) center no-repeat;
    background-size: 100%; }


/*# sourceMappingURL=maps/main.css.map */