<section class="main">
    <h1>Welcome to PBT,<br /> Propeller!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>

<% include inc/cta.html %>

<section class="slider">
    <div class="inner-slider">

        <% var hero = images('assets/img/hero/'+page) %>

        <% for(var i = 0; i < hero.length; i++) { %>

            <img zRS-src="<%= hero[i]%>" alt="Propeller Build Test" height="490" width="1240">

        <% } %>

    </div>

    <div class="pager"></div>

</section>