<section class="middle">
	<div class="centre-wrap">

		<section class="main">
			<h1>Welcome to PBT,<br /> Propeller!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>

		<section class="cta">
			<a href="" class="square-cta square-cta--1">
				<span>
					test
				</span>
			</a>
			<a href="" class="square-cta square-cta--2">
				<span>
					test
				</span>
			</a>
			<a href="" class="square-cta square-cta--3">
				<span>
					test
				</span>
			</a>
			<a href="" class="square-cta square-cta--4">
				<span>
					test
				</span>
			</a>
		</section>

		<section class="slider">
			<img src="/assets/img/hero/1.jpg" alt="Propeller Build Test">
		</section>

	</div>
</section>